/* AboutPage.css */
.about-page {
  max-width: 80%;
  margin: 2em auto;
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-page h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .about-page section {
    margin-bottom: 30px;
  }
  
  .about-page h3 {
    font-size: 26px;
    color: #f49333;
    margin-bottom: 15px;
  }
  
  .about-page p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  