

.footer-links {
  margin-bottom: 10px;  
}

.footer-links a {
  text-decoration: none;  
  margin: 0 10px;  
  font-size: 14px;    
  transition: color 0.3s ease;  
}

.footer-links a:hover {
  color: #e0a80d;   
}

.footer-social {
  display: flex;
  justify-content: center;  
  gap: 15px;  
}
.footer-social a {
  font-size: 20px;  
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #e0a80d;  
}

.footer-text {
  margin-top: 15px; 
  font-size: 18px;
    
}

.footer-text span {
  font-weight:700;  
}
