.home-page {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all the content horizontally */
}

.club-logo {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 120px;
}

.club-logo img {
  width: 250px;
  transition: transform 0.5s ease-in-out;
  display: block;
  margin: 0 auto; /* Center the logo */
}

.logo-hover:hover {
  transform: scale(1.5);
}

.club-description {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 40px;
  max-width: 800px; /* Limit the width to prevent content from stretching too far */
  margin: 0 auto; /* Center the description */
  text-decoration: dotted;
}

.club-description h2 {
  
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.animated-description {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin: 0 auto; /* Center the text */
}

.club-carousel {
  margin: 50px 0;
  max-width: 800px; 
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

/* Keep the partner logos section as-is */
.partners-section {
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-logos {
  display: flex;
  gap: 50px;
  animation: scroll 4s linear infinite;
}

.partner-logo {
  height: 100px;
  width: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(10rem);
  }
}

.quick-overview {
  margin: 50px 0;
}

.quick-overview h2 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.map-container{
  margin-bottom: 2rem;
}

.footer {
  padding: 20px;  
  text-align: center;
  font-size: 14px;  
  box-shadow:0px -5px 15px rgba(0, 0, 0, 0.1);   /* Slight shadow at the top */

  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
